---
// src/pages/index.astro
import { createReader } from '@keystatic/core/reader'
import keystaticConfig from '../../keystatic.config'

// 1. Create a reader
const reader = createReader(process.cwd(), keystaticConfig)

// 2. Read the "Homepage" singleton
const homepageData = await reader.singletons.homepage.read()

//import library
import { Image, Picture } from '@astrojs/image/components';

// components

import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';


//fetching collections
import { getCollection, image } from "astro:content";

const gallery = await getCollection("gallery");
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>{homepageData.headline}</h1>
		<p class="instructions">
			let's try to build a photographer portfolio with Astro an Keystatic
		</p>
	</main>
</Layout>

<!-- Section gallery photos -->
<section id="gallery" class="bg-dark text-white">
	<div class="container mx-auto">
		<ul
			class=" w-full columns-2 items-start gap-4 overflow-x-auto md:columns-3 lg:gap-6 2xl:gap-8: pt-6 2xl:pt-8 md:pt-12 lg:pt-14"
		>
		{
			gallery.map((gallery) => (
			<article class="relative group mb-4 overflow-hidden rounded-xl cursor-pointer ">
				<div class="group relative cursor-pointer items-center justify-center overflow-hidden transition-shadow hover:shadow-xl hover:shadow-black/30">
					<div class="w-auto">
						<img
							class="h-full w-full object-cover transition-transform duration-500 group-hover:rotate-3 group-hover:scale-125"
							src={gallery.data.img}
							alt={gallery.data.img_alt}
						/>
					</div>
					<div class="absolute inset-0 group-hover:bg-gradient-to-b from-transparent via-transparent to-black/75"></div>
					<div class="absolute px-6 bottom-6 flex flex-col justify-left transition-all duration-700 group-hover:translate-y-0">
						<h4 class="text-3xl font-semibold opacity-0 group-hover:opacity-100">{gallery.data.titre}</h4>
						<p class="opacity-0 mb-3 transition-opacity duration-300 group-hover:opacity-100">{gallery.data.légende}</p>
					</div>
				</div>
				
				<div class="flex items-center">
					
          
				</div>
			</article>
			))
		}
		</ul>
	</div>
</section>